.footer {
  flex: 0 0 auto;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 16px 8%;
  margin-top: 4%;

  &__contacts{
    &-list {
      &__item{
        margin: 4px 0;
      }
    }
  }

  &__social {
    &-list {
      display: flex;
      margin: 25% 0;
      &__item{
        margin: 0 4px;
        background-color: white;
        border-radius: 50%;
        padding: 4px;
        a {
          img{
            margin: 4px 2px 0;
          }
        }
      }
    }
  }


}

