.card-basket{
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__number{
    margin-right: 20px;
  }
  &__title{
    margin: auto ;
  }
  &__button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: orange;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}