* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 1240px;
    min-height: 100vh;
}

.content {
    padding: 0 8%;
    flex: 1 0 auto;
    z-index: 0;
}

a{
    color: black;
}
